<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>注册成功</title>
</head>
<body>
	<div>
		恭喜！您已注册成功，您的用户名和密码已经发到您邮箱中。去<a href="${application.elfMetas.blogUrl}/login.jhtml" title="登录${application.elfMetas.blogName}">登录</a>
	</div>
</body>
</html>