<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		                   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		                   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-autowire="byName">
	<context:annotation-config />
	<context:component-scan base-package="com.elf" />

	<!-- dbcp数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/elf" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
		<property name="initialSize" value="10"></property>
		<property name="maxWait" value="3000"></property>
		<property name="minIdle" value="1"></property>
		<property name="maxIdle" value="10"></property>
		<property name="maxActive" value="10"></property>
	</bean>

	<!-- sqlMapClient -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven />
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务管理通知 -->
	<tx:advice id="transactionManagerAdivice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="java.lang.RuntionException" />
			<tx:method name="save*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="java.lang.RuntionException" />
			<tx:method name="del*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="java.lang.RuntionException" />
			<tx:method name="update*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="java.lang.RuntionException" />

			<tx:method name="read*" read-only="true" />
			<tx:method name="get*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- 事务管理切入点和方面 -->
		<aop:advisor advice-ref="transactionManagerAdivice"
			pointcut="execution(public * com.elf.biz.impl.*.*(..))" />
	</aop:config>

	<!-- 邮件内容生成器 -->
	<bean id="mailContentGenerator" class="com.elf.mail.MailContentGenerator">
		<property name="templateDirPath" value="/mailTemplates" />
		<property name="velocityEngine" ref="velocityEngine" />
	</bean>
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader"> class </prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>
	
</beans>