@CHARSET "UTF-8";

.elfWarp {
	width:100%;
	height:100%;
	position:relative;
}

.elfHead {
	height: 48px;
	border-bottom: 1px solid #B6BAC0;
	background: -moz-linear-gradient(top, #E3E3E3, #D8D8D8);
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3),
		to(#d8d8d8) );
}

.siteName {
	height: 32px;
	line-height: 32px;
	width: 40%;
	padding-left: 48px;
	float: left;
	margin: 8px 0 0 16px;
	background: url(../images/logo_32_32.png) top left no-repeat;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
	font: 20px/32px 600 helvetica, arial, freesans, clean, sans-serif, 微软雅黑, 宋体;
}
.userInfo{
	line-height:48px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
	margin-right:10px;
}
.userInfo a {
	margin: 10px 0px;
}
.siteName a,.siteName a:hover {
	color: #333;
}

.elfBody {
	
}

.elfBody .elfSideBar {
	width: 190px;
	float: left;
	margin-left: 10px;
}

.elfSideBar .sideBarUnit {
	margin-bottom: 10px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 3px #ddd;
	-moz-box-shadow: 2px 2px 3px #ddd;
	-webkit-box-shadow: 2px 2px 3px #ddd;
}
.elfSideBar .sideBarUnit:nth-last-child(1){
	margin-bottom: 0px;
}

.sideBarTitle {
	height: 29px;
	line-height: 29px;
	font-size: 120%;
	text-indent: 1.5em;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e6e6e6) );
	background: -moz-linear-gradient(top, #f1f1f1, #e6e6e6);
	font-weight: 600;
	cursor: pointer;
	text-shadow: 1px 1px 0 #fff;
}

.sideBarTitle:nth-child(1){
	border-top: none;
}

.sideBarTitleFlag {
	padding: 5px;
}

.sideBarBody ul li {
	padding: 0 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #E1E1E1;
	background: #F4F4F4;
}

.sideBarBody ul li:nth-last-child(1){
	border-bottom: none;
}

.sideBarBody ul li.current {
	background: -webkit-gradient(linear, left top, left bottom, from(#D0E3FF), to(#B8CBF6) );
	background: -moz-linear-gradient(top, #D0E3FF, #B8CBF6);
	border-bottom:1px solid #ddd;
	border-top:1px solid #B8CBF6;
}

.sideBarBody ul li.current a {
	font-weight: 600;
	color:#fff;
	text-shadow: none;
	font-size:1.2em;
	text-shadow: 1px 1px 0 #B8CBF6;
}

.sideBarBody ul li a {
	line-height: 2;
	text-indent: 3em;
	display: block;
	text-shadow: 1px 1px 0 #fff;
}

.elfBody .elfContent {
	margin: 10px 10px 0px 215px;
}
.elfContentMain{
	margin-right:190px;
}
.elfContentSideBar{
	width:180px;
	float: right;
}
.elfContent2Col{
	width:49.5%;
}

.elfFooter {
	margin: 10px 0 0 0;
	background: #DFDFDF;
	border-top: #D1D1D1 1px solid;
	padding: 0 10px;
	font-size: 13px;
	hieight: 48px;
	line-height: 48px;
	color: #777;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

/*widget*/
.widget{
	margin-bottom: 10px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 3px #ddd;
	-moz-box-shadow: 2px 2px 3px #ddd;
	-webkit-box-shadow: 2px 2px 3px #ddd;
}
.widgetTitle{
	height: 25px;
	line-height: 25px;
	font-size: 100%;
	text-indent: 1em;
	border-bottom: 1px solid #d2d2d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e6e6e6) );
	background: -moz-linear-gradient(top, #f1f1f1, #e6e6e6);
	font-weight: 600;
	cursor: pointer;
	text-shadow: 1px 1px 0 #fff;
	position: relative;
}
.widgetTitle .widgetToggle{
	display:block;
	display:none;
	width:50px;
	position:absolute;
	right:0;
	top:0;
	color:#bbb;
	text-shadow:none;
}
.widgetTitle .widgetToggle:hover{
	color:#666;
}
.widgetBody{
	padding:5px;
}

/*智能化表格*/
.elfTable{
	border: 1px solid #d2d2d2;
	border-collapse:separate;/*需要设置以覆盖default.css中的border-collapse:separate;才能设置圆角*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px 3px #ddd;
	-moz-box-shadow: 2px 2px 3px #ddd;
	-webkit-box-shadow: 2px 2px 3px #ddd;
    width: 100%;
}
.elfTable thead,.elfTable tfoot{
	height: 25px;
	line-height: 25px;
	font-size: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e6e6e6) );
	background: -moz-linear-gradient(top, #f1f1f1, #e6e6e6);
	font-weight: 600;
	text-shadow: 1px 1px 0 #fff;
}
.elfTable tfoot{
	font-weight: normal;
}
.elfTable thead tr th{/*受border-collapse:separate;影响，边框只有设置到“单元格级别”才有效*/
	border-bottom: 1px solid #d2d2d2;
	padding:0 5px;
}
.elfTable tbody tr{
	height:25px;
}
.elfTable tbody tr.rowOdd{
	background:#f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#fff) );
	background: -moz-linear-gradient(top, #f4f4f4, #fff);
}
.elfTable tbody tr.rowSelected,.elfTable tbody tr.rowHover{
	background:#ccf1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccf1f1), to(#eff) );
	background: -moz-linear-gradient(top, #ccf1f1, #eff);
}
.elfTable tbody tr td{
	padding:5px 5px;
	border-bottom: 1px solid #e6e6e6;
	vertical-align: text-top;
}
.elfTable tbody tr td:nth-child(1){
	vertical-align: middle;
}
.elfTable tbody tr:nth-last-child(1) td{
	border-bottom: none;
}
.elfTable tfoot tr th{
	border-top: 1px solid #d2d2d2;
	padding:0 5px;
}
.tableOprator{
	visibility: hidden;
}
.tableOprator a{
	padding:0 5px;
}
/*表格数据过滤条件*/
.elfTableFilter{
	border: 1px solid #d2d2d2;
	box-shadow: 2px 2px 3px #ddd;
	-moz-box-shadow: 2px 2px 3px #ddd;
	-webkit-box-shadow: 2px 2px 3px #ddd;
	background:#f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#fff) );
	background: -moz-linear-gradient(top, #f4f4f4, #fff);
	margin-bottom:30px;
	padding:5px;
	position:relative;
}
.elfTableFilterToggle{
	border: 1px solid #d2d2d2;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-top:none;
	box-shadow: 2px 2px 3px #ddd;
	-moz-box-shadow: 2px 2px 3px #ddd;
	-webkit-box-shadow: 2px 2px 3px #ddd;
	background:#f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4) );
	background: -moz-linear-gradient(top, #fff, #f4f4f4);
	position:absolute;
	width:150px;
	height:20px;
	left:50%;
	margin-left:-75px;
	bottom:0;
	margin-bottom:-21px;
	text-align:center;
	cursor:pointer;
	color:#0066AA;
}
.elfTableFilterToggle:hover{
	color:#FF6600;
}
.elfTableFilterContent table{
	width:100%;
}


/*sideBarMorePannel*/
.sideBarMorePannel{
	border:none;
	margin-top:5px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#eee;
	padding:3px 5px;
}
.sideBarMorePannelToggle{
	text-indent:1em;
	font-size:14px;
}
.sideBarMorePannelContent{
	display:none;
	padding:5px;
	background:#f1f1f1;
}
.sideBarMorePannelContent p{
	margin-top: 5px;
}

/*大表单行，行间距20px*/
.formRow{
	margin:20px 0;
}
/*表单内较长的提示文字，淡灰色*/
.formLongTip{
	color:#999;
	display:block;
}
.formErrorTip{
	color:#f00;
	display:block;
}
.formHighLight{
	background:#ffebeb;
}

/*32*32图标*/
.icon32_1,.icon32_2,.icon32_3,.icon32_4,.icon32_5,.icon32_6,.icon32_7,.icon32_8,.icon32_9,.icon32_10,.icon32_11,.icon32_12{
	background:url(../images/icons32.png) left top no-repeat;
	display:block;
	width:60px;
	height:45px;
}
.icon32_10{
	background-position:-0px 0px;
}
.icon32_2{
	background-position:-60px 0px;
}
.icon32_3{
	background-position:-120px 0px;
}
.icon32_4{
	background-position:-180px 0px;
}
.icon32_5{
	background-position:-240px 0px;
}
.icon32_6{
	background-position:-300px 0px;
}
.icon32_7{
	background-position:-360px 0px;
}
.icon32_8{
	background-position:-420px 0px;
}
.icon32_9{
	background-position:-480px 0px;
}
.icon32_10{
	background-position:-540px 0px;
}
.icon32_11{
	background-position:-600px 0px;
}
.icon32_12{
	background-position:-560px 0px;
}


.pageTitle{
	height:45px;
	line-height:45px;
	font-size:200%;
	margin-bottom:10px;
}
#articleTiltleInputer{/*使用id选择器来覆盖属性选择器中定义的样式*/
	display:block;
	width:100%;
	height:2em;
	font-size:1.4em;
	line-height:2em;
}
.articleExcerptInputer{
	display:block;
	height:100px;
	width:99%;
	margin:0 auto;
}
.publish dl dt{
	margin-left:1.5em;
	display:none;
}
.treeItem{
	padding-left:1.5em;
}
.parentCategory{
	width:140px;
}
.existTag,.selectedTag{
	float:left;
	margin:4px 10px 4px 0;
	background:#f9f9f9;
	border: 1px solid #ccc;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	padding:0 18px 0 5px;
	text-decoration:none;
	position:relative;
	box-shadow: 0 0 2px #ccc;
	-moz-box-shadow : 0 0 2px #ccc;
	-webkit-box-shadow : 0 0 4px #ccc;
}
.existTag:hover,.selectedTag:hover{
	text-decoration:none;
}
.smallFlag{
	display:none;
	position:absolute;
	top:3px;
	right:2px;
	border:1px #ccc solid;
	width:10px;
	height:10px;
	line-height:9px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#ccc;
	font-weight:600;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	text-shadow:-1px -1px 0px #aaa;
}
.selectedTags,.existTags{
	border:1px solid #ddd;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin:5px 0;
	padding:5px;
}

.addNewCategory .widgetBody p{
	margin: 10px 0;
}
.structureDescInputer{
	width:90%;
}
.parentSelector{
	width:90%;
}